@model IEnumerable<AuctionApp.Models.Negotiation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttemptCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAutomaticallyRejected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttemptCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAutomaticallyRejected)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.NegotiationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NegotiationID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NegotiationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
